			<style type="text/css">
				.category_grid .product_item{
					float: left;
				}
			</style>
			<div class="page_content_offset">
				<div class="container">
					<div class="row clearfix">
						
						<!--right column-->
						<%= render 'sidebar' %>

						<!--left content column-->
						<section class="col-lg-9 col-md-9 col-sm-9">
							<h2 class="tt_uppercase color_dark m_bottom_25"><%= @collection.name %></h2>
							<div class="clearfix m_bottom_40">
									<div class="photoframe f_left shadow wrapper m_right_30 m_sm_bottom_5 m_sm_right_20 m_xs_bottom_15 f_xs_none d_xs_inline_b">
										<img class="tr_all_long_hover" src="/images/category_img_7.jpg" alt="">
									</div>
									<p class="m_bottom_10">Бренд: <%= @collection.brand %> </p>
									<p class="m_bottom_10">Страна: <%= @collection.country %> </p>
									<p class="m_bottom_10">Размер: <%= @collection.size %> </p>
							</div>

							
							<hr />
							<!--products-->
							<section class="products_container category_grid clearfix m_bottom_15">
								<!--product item-->
								<% @collection.products.each do |product| %>
									<div class="product_item hit w_xs_full">
										<figure class="r_corners photoframe type_2 t_align_c tr_all_hover shadow relative">
											<!--product preview-->
											<a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
												<img src="/images/product_img_1.jpg" class="tr_all_hover" alt="">
												<span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Предосмотр</span>
											</a>
											<!--description and price of product-->
											<figcaption>
												<h5 class="m_bottom_10">
												<%= link_to product.name, collection_product_path(@collection , product), class: "color_dark" %>
												</h5>
												
												<p class="scheme_color f_size_large m_bottom_15"><%= product.price %> р.</p>	
												<!--<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>-->
												<%= button_to 'Купить', line_items_path(product_id: product), class: 'button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15'
												 %>
											</figcaption>
										</figure>
									</div>
								<% end %>
							</section>
							
							<hr class="m_bottom_10 divider_type_3">
							
						</section>
						
					</div>
				</div>
			</div>